#### mysql配置
jdbc.url=jdbc:mysql://{{get "mysql_host"}}:{{get "mysql_port"}}/{{get "mysql_db"}}

#### redis配置
redis.hostname={{get "redis_host"}}
redis.port={{get "redis_port"}}
redis.db={{get "redis_db"}}
